<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.progralabs.luckywinner" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="Lucky Winner" android:icon="@drawable/Icon"></application>
</manifest>